
.center{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    background: transparent;
    color: rgb(0, 0, 0);
}

.table-title{
    color: rgb(5, 25, 55);
}

.download-row{
    color: white;
    opacity: 1;
    transition: opacity .3s ease;
  }

.download-row:hover {
    color: rgb(5, 25, 55);
    opacity: .5; 
  }

img{
    cursor: pointer;
    height: 20px;
    width: 20px; 
    opacity: 0.7;
}

.downloaded{
    opacity: 0.1;
}

