<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Keep posted onces new driver are available for: </h1>
        <h1 class="header-text" style="font-size: 30px;">{{data.product.name}}</h1>
    </header>
    <section id="modal-body">
        <form id="subscription" #submitionForm="ngForm" (ngSubmit)="saveSubscription(submitionForm)">
            <div class="field">
                <label style="padding-top: 10px;">Enter your email for subscription:</label>
                <div>
                    <input class="input" name="email" #emailInput="ngModel" [(ngModel)]="email" type="email"
                        placeholder="Your email" required email="true">
                    <small *ngIf="emailInput.touched && !email || emailInput.dirty && !email "
                        class=".ng-valid.required">Email is
                        required</small>
                    <small *ngIf="emailInput.invalid && email && emailInput.touched" class="ng-invalid">Please
                        enter a valid email
                        address</small>
                    <!--                     Email invalid: {{emailInput.invalid}}
                    pristine {{emailInput.pristine}}
                    touched {{emailInput.touched}}
                    dirty {{emailInput.dirty}}
                    untouched {{emailInput.untouched}}
                    valid {{emailInput.valid}} -->
                </div>
            </div>
            <div class="actions">
                <button class="button" id="modal-cancel-button" (click)="close()" type="reset">Go back</button>
                <button class="button" id="modal-action-button" type="submit">Subscribe</button>

            </div>
        </form>
    </section>
</div>

<!-- 1. https://angular.io/guide/forms -->