/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


:root{
	--button:rgb(0,153,204);
	--button-hover:rgba(0,153,204,0.5);
	--font:"Raleway";
	--font-size: 16px;
	--font-weight: 500;
	--shadow:
		0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}


html{
	background-image: linear-gradient(to right top, #051937, #004d7a, #1f9ba7, #008793, #004d7a);
	min-height: 100vh;
	min-width: 100vw;
 }


 body{
	color: white; 
	font-family: var(--font);
	font-size: var(--font-size);
 }

 .transparent-box {
	background-color: rgba(189, 189, 189, 0.3);
	border-radius: 10px;
	display:table;
	margin:auto;
	margin-top: 50px;
	min-width: 1000px;
	padding: 20px;
	
	}
	
#supportlink-field {
	align-items: center;
	display: grid;
	gap: 20px;
	grid-template-columns: auto 1fr auto;
	height: 100%;	
	justify-content: center;
	padding-inline: 20px; 
	}

	button{
		cursor: pointer;
	}

.button{
	background-color: var(--button);
	border: transparent;
	color: white;
	font-weight: var(--font-weight);
	width: 150px;
	box-shadow: var(--shadow);
}

.button:hover{
	background-color: var(--button-hover);
	color: white;
	
}

.button:focus{
	color: white;
}

.hero-body {
	padding: 0px;
    padding-bottom: 30px;
}

.header-text{
	color: #051937;
	font-family: 'Staatliches';
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 5px;

	
  }

  .invalid-feedback {
	  color: red;
	  font-size: 10px;
	 display: grid;
	 align-self: center ;
	  
  }

  small{
	  border: 2px solid red;
  }

  .grid-center{
	display: grid;
	grid-template-areas: 
            "product-title button";
	grid-template-columns: 1fr auto;
	grid-gap: 20px;
	height: 100%;
	padding: 60px 20px 10px 20px;
  }

  .grid-center > header {
	grid-area: product-title;
  }

  .grid-center > app-subscription {
	grid-area: button;
  }




/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
	color: white;
    border: 3px solid #262626;
    border-radius: 11px;
    background-image: linear-gradient(to right top, rgba(5, 25, 55, 0.7), rgba(0, 77, 122, 0.7), rgba(31, 155, 167, 0.7), rgba(0, 135, 147, 0.7), rgba(0, 77, 122, 0.7)) ;

}

/* Overwrite the styles of MatSnackBar */
.subscription-snackbar{
    background-color: var(--button);
}

